*.user
*.suo
*.opensdf
*.sdf
*.xcuserdatad
*.DS_Store
/ipch
/x64
*.idb
/Debug
Release
*.orig
*.tlog
Debug
Debug_dynamic
Debug_static
Release
Release_dynamic
Release_static
*.gray
*.yuv
*.rgb
*.ipch
*.opendb
*.db
*.o
*.iws
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
workspace.xml
local.properties
.gradle
gradle
gradlew
gradlew.bat
build
gen
out
.externalNativeBuild
My Amplifier XE Results*
My Advisor Results*
/plugin_androidcamera/.idea/libraries
*.rbg
